//Base
@import 
"bower_components/normalize-scss/normalize",
"bower_components/normalize-opentype.css/normalize-opentype",
"bourbon",
//"modules/grid-settings",//overrides bitters grid-settings
"neat",
"base/base";

//  MODULES
@import 
"modules/accessibility",
"modules/article",
"modules/footer",
"modules/hero",
"modules/images",
"modules/nav-top",
"modules/nav-side",
"modules/quotes";

body {
  background-color: $base-background-color;
}


body.home {
 background-color:$alt-background-color; 
  .section-content {
    padding-top: 3em;
  }
  .nav-sidebar {
   padding-top: 13em; 
  }
.centered-navigation {
  padding-top: 8em;
}
  
}
