//Uncomment this for a sticky footer.

// .wrapper {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }

// html, body {
//  height: 100%;
// }

// .footer-2, .push {
//   height: 17em;

//   @include media($large-screen) {
//     height: 4em;
//   }
// }
.footer-inner {
  @include outer-container;
}
.footer-2 {
  $footer-background: $sea-blue;//desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  //padding: $base-spacing;
  width: 100%;
  margin-top: 10em;
  padding-top:3em;

  hr {
    visibility: hidden;
  }

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;
    font-family: $sans-serif;
    font-size: 90%;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 1.6em;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


body.home .footer-2 {
  margin-top: 0;
}
