.hero {
  $hero-background-top: white;//darken($gray, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/assets/img/island.jpg';


  //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  //@include background(url($hero-image)));

background-image: url($hero-image);

  background-repeat: no-repeat;
  background-position: center top;
  @include media($xlarge-screen-up) {
    background-size: cover;
  }
  padding-bottom: 4em;
  background-attachment: fixed;
  height: 750px;
  //height: 94vh;


  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;
    li {
        //font-family: $brand-font-family;
        font-size: 1.2em;
        margin-bottom: 1em;
      }

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: left;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      a {
        color: darken($light-gray, 95%);
      }



      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
