hr.section-divider {
  border-top:none;
  display:block;
  width:100%;
  clear:both;
  margin:0 4em ;
}
aside {
  border-top: 4px solid desaturate(darken($base-accent-color, 10), 20);
}
.row {
  @include row();
  @include padding(5em 7em);
}
.section-content {
  margin:auto;
  @include padding(2em);
  @include media($normal-screen-up) {
    width:60%;
//    margin: 6em auto;
  }
}
.column-3-wide {
  @include span-columns(12);
  @include padding(.5em);
  @include media($normal-screen-up) {
    @include span-columns(4 of 12);
  }
}
.column-3-wide-push {
  @include span-columns(12);
  @include media($normal-screen-up) {
    @include span-columns(3 of 12);
    @include shift(2)
  }
}
.column-2-wide {
  @include span-columns(12);
  @include media($small-screen-up) {
    @include span-columns(6 of 12);
  }
}
.column-2-wide-push {
  @include span-columns(12);
  @include padding(2em);
  @include media($normal-screen-up) {
    @include padding(.5em);
    @include span-columns(6 of 12);
    @include shift(1)
  }
}
.has-layout {
  @include outer-container;
  article.hentry {
    @include span-columns(12);
    @include padding(2em 3em);
  }
  @include media($large-screen) {
    article.hentry {
      margin-top: 5em;
      @include span-columns(8);
      @include shift(2);
      @include padding(5em 7em);
    }
  }
}
.book-page-cover {
  width: 100%;
  position: static;
  clear: both;
  @include media($xlarge-screen-up) {
    width:300px;
    position:absolute;
    top:125px;
    right:250px;
  }
}
@include media($xlarge-screen-up) {
  .synopsis {
    margin-right:120px;
  }
}
ul.inline {
  margin:2em auto;
}
ul.inline li {
  display:inline;
  margin-right: 2em;
}
