<footer class="p3 cf bg-brand" role="contentinfo">
   
  <div class="mt3 center">
    <a href="/language/" title="Language" class="text-decoration-none silver hover-gray mx2 my2">Language</a>
    <a href="/terms/"    title="Terms" class="text-decoration-none silver hover-gray mx2 my2">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="text-decoration-none silver hover-gray mx2 my2">Privacy</a>
  </div>

  <small class="h6 block center mt3 mb1 gray">
    © {{ site.time | date:'%Y' }} {{ site.owner }}, All Rights Reserved
    </small>
</footer>
