<header class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url({{ site.baseurl }}/uploads/dummy-hero.jpeg) no-repeat center;">
  <div class="dtc v-mid">
    <h2 class="f6 fw1 ttu tracked mb2 lh-title">
      {{ site.owner }}
    </h2>
    <h1 class="f1 f-headline-l fw9 i white-80">
      {{ site.title }}
    </h1>
    <blockquote class="ph0 mh0 measure f4 lh-copy center">
      <p class="fw1 white-70">
        {{ site.description }}
      </p>
    </blockquote>
  </div>
</header>

<div class="w-100 pa3 bg bg-light-gray tc dark-gray">
  <div class="center w-third-ns">
    <a href="#" class="link dib">
      <img src="{{ site.baseurl }}/uploads/email.svg" class="h2" alt="Email" />
    </a>
    <a href="#" class="link dib">
      <img src="{{ site.baseurl }}/uploads/social-facebook.svg" class="h2" alt="Email" />
    </a>
    <a href="#" class="link dib">
      <img src="{{ site.baseurl }}/uploads/social-twitter.svg" class="h2" alt="Email" />
    </a>
  </div>
</div>
