// ------------------------------------------------------------
// SIDEBAR MODULE
// ------------------------------------------------------------

// =============== VARIABLES ===============

$sidebar-width:18rem;
$sidebar-right-width:18em;

// =============== LEFT SIDEBAR ===============

@if $include-sidebar-left != false {
    
    

    .content {
        min-width: 0;
        margin-left: 0;  
        
        @include respond-to($d-vp, $IE9: false) {
            min-width: $b-vp;
            margin-left:  $sidebar-width;  
        }
    }

    .sidebar-left {
            
        width: 100%;
        height: auto;
        position: static;    
            
        @include respond-to($d-vp, $IE9: false) {
          width: $sidebar-width;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
        }
    }
}

@else {
    .sidebar-left {
        display:none;
    
    }
}

// =============== RIGHT SIDEBAR ===============

@if $include-sidebar-right != false {

      .content {        
        margin-right: 0;  
        @include respond-to($d-vp, $IE9: false) {
            margin-right:  $sidebar-right-width;  
        }
      }

      .sidebar-right {
            
        width: 100%;
        height: auto;
        position: static;
        
            
        @include respond-to($d-vp, $IE9: false) {
          width: $sidebar-right-width;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

            @if $include-sidebar-left != false {
            margin-left: $sidebar-width;
            }
        }
    }
}

@else {
    .sidebar-right {
        display:none;
    }
}


// =============== STYLING ===============

@if $include-sidebar-left != false {
  
    $sidebar-color-background:#20374c;

    .sidebar-left {

        text-align: center;
        padding: 2rem 1rem;
        color: rgba(255,255,255,.5);
        background-color: $sidebar-color-background;  

              /* Sidebar nav */
              .sidebar-nav {
                padding-left: 0;
                list-style: none;
              }
              .sidebar-nav-item {
                display: block;
              }
              a.sidebar-nav-item:hover,
              a.sidebar-nav-item:focus {
                text-decoration: underline;
              }
              .sidebar-nav-item.active {
                font-weight: bold;
              }
    }
}

@if $include-sidebar-right != false {

      $sidebar-right-color-background:#f6f6f6;

      .sidebar-right {
        text-align: left;
        padding: 2rem 1rem;
        background-color: $sidebar-right-color-background;
        color:lighten($sidebar-right-color-background, 50%);

        aside section:first-child {
          margin-top: 40px !important;
        }

        aside section:last-child {
          margin-bottom: 40px !important;
        }
            
      }
}