## jekyll-seo-tag
# These basic values are used with the Jekyll SEO tag https://github.com/jekyll/jekyll-seo-tag#usage
# but you can also use them anywhere in your site, like this: {{ site.title }} or {{ site.twitter.username }}
title: "Jekyll Starter"
description: "A starter for using jekyll"
url: "https://budparr.github.io/jekyll-starter/" # the base hostname & protocol for your site
author: []
twitter:
  username: budparr
facebook:
  app_id:
  publisher:
  admins:
logo: /assets/images/jekyll-white.svg
google_site_verification:
github:
  username: budparr
owner: The New Dynamic

## jekyll
#baseurl: '/jekyll-starter'
incremental: false
timezone: Etc/GMT
#baseurl:
gems:
  - jekyll-admin
  - jekyll-seo-tag
  - jekyll-sitemap

sass:
    sass_dir: css/_sass-partials
    style: compressed

# Developer

# use this to manually trigger noindex, nofollow in development
# gh-pages always adds the "production" environment variable
production: false

# http://jch.penibelst.de/
compress_html:
  ignore:
    envs: [development]
  profile: false


# CONTENT
include:
  - _pages

exclude:
  - readme.md
  - license.md
  - Gemfile
  - Gemfile.lock
  - CNAME
  - node_modules
  - package.json
  - postcss.config.js
  - gulpfile.js


# http://jekyllrb.com/docs/collections/
collections:
  # example:
  #   output: true
  #   permalink: '/:collection/:path/'

# http://jekyllrb.com/docs/configuration/#front-matter-defaults
defaults:
  - scope:
      path: ''
      type: pages
    values:
      layout: page
  - scope:
      path: '_pages'
      type: pages
    values:
      layout: page
      permalink: /:basename/
  - scope:
      path: ''
      type: posts
    values:
      layout: page
      schema: BlogPosting
