<ul id="navigation-menu" class="nav-sidebar">
	<li class="nav-sidebar-item"><a href="/">home</a></li>
	{% for links in site.data.navigation %}		
		<li id="{{links.slug}}" class="nav-sidebar-item{% if page.url contains /links.slug/  %} active{% endif %}">
			<a href="/{{links.slug}}/">{{links.name}}</a>
		</li>
	{% endfor %}
	{% comment %}Placeholder
	<li class="navigation-search-bar">
		<div class="search-bar">
			<div class="search-and-submit">
				<input type="search" placeholder="Enter Search" />
					<button type="submit">
						<img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
					</button>
			</div>
		</div>
	</li>
	<li class="sign-up"><a href="javascript:void(0)">Sign Up</a></li>
	{% endcomment %}
</ul>
