{% assign books = site.books %}
{% for book in  books %}
{% assign book_slug = book.slug %}
  {{ book.title }}
  <div class="synopsis">{{ book.content }}</div>
  <img src="{{ site.directory_assets_img }}{{ book.cover_image }}" class="book-cover book-page-cover">
  <button>Buy</button>
  <ul class="inline small">
    {% if book.publisher %}
      <li>Publisher:
        {% if book.publisher_link %}
          <a href="{{ book.publisher_link }}">{{ book.publisher }}</a>
        {% else %}
          {{ book.publisher}}
        {% endif %}
      </li>
    {% endif %}
    {% if book.date %}
      <li>{{ book.date | date: '%B, %Y'}}</li>
    {% endif %}
      <br /><!--  //start a new line -->
    {% if book.isbn %}
      <li>ISBN: {{ book.isbn }}</li>
    {% endif %}
    {% if book.isbn_digital %}
      <li>ISBN (eBook): {{ book.isbn_digital }}</li>
    {% endif %}
  </ul>
  <hr />
  <h3>Advance Praise</h3>
  {% assign reviews = site.reviews | where: 'book', book_slug  | sort: 'date' | reverse %}
  {% include reviews-format.html limit="100" offset="0" %}
{% endfor %}
