{% assign book = page.slug %}
  <img src="{{ site.directory_assets_img }}{{ page.cover_image }}" class="book-cover book-page-cover">
      {% assign now = site.time | date: '%Y%m%d' %}
      {% assign pubdate = page.date | date: '%Y%m%d' %}
      {% if now <= pubdate %}
        {% include modal.html text="Preorder"  %}
      {% else %}
        {% include modal.html text="Buy" %}
      {% endif %}
  <ul class="inline small">
    {% if page.publisher %}
      <li>Publisher:
        {% if page.publisher_link %}
          <a href="{{ page.publisher_link }}">{{ page.publisher }}</a>
        {% else %}
          {{ page.publisher}}
        {% endif %}
      </li>
    {% endif %}
    {% if page.date %}
      <li>{{ page.date | date: '%B, %Y'}}</li>
    {% endif %}
      <br /><!--  //start a new line -->
    {% if page.isbn %}
      <li>ISBN: {{ page.isbn }}</li>
    {% endif %}
    {% if page.isbn_digital %}
      <li>ISBN (eBook): {{ page.isbn_digital }}</li>
    {% endif %}
  </ul>
  <hr />
  <h3>Advance Praise</h3>
  {% assign reviews = site.reviews | where: 'book', book  | sort: 'date' | reverse %}
  {% include reviews-format.html limit="100" offset="0" show_full="yes" %}
