* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  min-width: 0;
  margin-left: 0;
}
@media screen and (min-width: 56.25em) {
  .content {
    min-width: 26.25em;
    margin-left: 15%;
  }
}

.sidebar-left {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: static;
  text-align: center;
  padding: 2rem 0;
  background-color: #191919;
  color: #cccccc;
  /* Sidebar nav */
}
.sidebar-left a {
  color: #505050;
}
.sidebar-left .sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-left .sidebar-nav-item {
  display: block;
  padding-top: .35em;
  padding-bottom: .35em;
}
.sidebar-left .sidebar-nav-item:hover,
.sidebar-left .sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-left .sidebar-nav-item.active a {
  color: #787878;
}
.sidebar-left hr {
  margin: 1em auto;
  border-top: 1px solid #212121;
}
@media screen and (min-width: 56.25em) {
  .sidebar-left {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
  }
}

.content {
  margin-right: 0;
}
@media screen and (min-width: 68.75em) {
  .content {
    margin-right: 20%;
  }
}

.sidebar-right {
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  height: auto;
  position: static;
  text-align: left;
  padding: 2em 7em 4em 2em;
  background-color: transparent;
  color: #555555;
}
@media screen and (min-width: 68.75em) {
  .sidebar-right {
    padding: 2em 3em;
  }
  .sidebar-right section:first-child {
    margin-top: 37% !important;
  }
  .sidebar-right section:last-child {
    margin-bottom: 10% !important;
  }
}
@media screen and (min-width: 56.25em) {
  .sidebar-right {
    margin-left: 15%;
    width: 85%;
  }
}
@media screen and (min-width: 68.75em) {
  .sidebar-right {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
