////==== RIGHT SIDEBAR

@if $include-sidebar-right != false {

        $sidebar-right-width:15em;
        $sidebar-right-color-background:#333;

        .main-section {
            @include respond-to($b-vp, $IE9: false) { 
                margin-right: $sidebar-right-width;  
            }
            @include respond-to-min-max($b-vp, $d-vp, $IE9: false) {
                margin-right: 0;  
            }
        }

        .sidebar-right {

            background-color: $sidebar-right-color-background;  
            color: lighten($sidebar-right-color-background,25%);

            @include respond-to($b-vp, $IE9: false) {
              width: $sidebar-right-width;
              height: 100%;
              position: fixed;
              top: 0;
              right: 0;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;
            }
            @include respond-to-min-max($b-vp, $d-vp, $IE9: false) {
            
                width: 100%;
                height: auto;
                position: relative;
            }

        }

        aside.sidebar-right section:first-child {
          margin-top: 40px !important;
        }

        aside.sidebar-right section:last-child {
          margin-bottom: 40px !important;
        }

}