//=== Sidebar Variables
$sidebar-width:15rem;
$sidebar-right-width:15em;
// ------------------------------------------------------------
// Navigation module (example)
// ------------------------------------------------------------
@if $include-sidebar-left != false {
    
    

    .content {
        min-width: 0;
        margin-left: 0;  
        
        @include respond-to($d-vp, $IE9: false) {
            min-width: $b-vp;
            margin-left:  $sidebar-width;  
        }
    }

    .sidebar-left {
            
        width: 100%;
        height: auto;
        position: static;    
            
        @include respond-to($d-vp, $IE9: false) {
          width: $sidebar-width;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
        }
    }
}

@else {
    .sidebar-left {
        display:none;
    
    }
}

// ------------------------------------------------------------
// Right Hand Sidebar
// ------------------------------------------------------------
@if $include-sidebar-right != false {

    
    

    .content {
        
        margin-right: 0;  
        
        @include respond-to($d-vp, $IE9: false) {
            margin-right:  $sidebar-right-width;  
        }
    }

        .sidebar-right {
            
            width: 100%;
            height: auto;
            position: static;
            
            
        @include respond-to($d-vp, $IE9: false) {
          width: $sidebar-right-width;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

            @if $include-sidebar-left != false {
            margin-left: $sidebar-width;
            }

        }

     
            
    }
    
    
    

}

@else {
    .sidebar-right {
        display:none;
    
    }
}
