@if $include-sidebar-left != false {
$sidebar-color-background:#888;

.sidebar-left {

          text-align: center;
          padding: 2rem 1rem;
          color: rgba(255,255,255,.5);
          background-color: #202020;

                /* Sidebar nav */
                .sidebar-nav {
                  padding-left: 0;
                  list-style: none;
                }
                .sidebar-nav-item {
                  display: block;
                }
                a.sidebar-nav-item:hover,
                a.sidebar-nav-item:focus {
                  text-decoration: underline;
                }
                .sidebar-nav-item.active {
                  font-weight: bold;
                }



        background-color: $sidebar-color-background;  
  }
}

@if $include-sidebar-right != false {
    
            $sidebar-right-color-background:#333;
        
        .sidebar-right {
            text-align: left;
          padding: 2rem 1rem;
    
            background-color: $sidebar-right-color-background;
            color:lighten($sidebar-right-color-background, 50%);
            
        aside section:first-child {
          margin-top: 40px !important;
        }

        aside section:last-child {
          margin-bottom: 40px !important;
        }
            
        }
}