article.hentry {
  padding: 1em 1em 6em 1em;
  margin:auto;
  max-width: $medium-screen;//$d-vp;
  //min-height: $c-vp;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  img {
  	max-width: 100%;
  }
    @include media($medium-screen-up) {
  	//padding: 2rem 7em;
  }
  li {
  margin-right:1.5em;
}

}


object, embed, iframe {
  max-width: 100% !important;
}


hr {
  margin:1em auto;
  border: 0;
  border-top: 1px solid #EEEEEE;
  width: 100%;
  clear: both;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

sup, sub {
 vertical-align: baseline;
 position: relative;
 top: -0.4em;
}
sub { top: 0.4em; }


.sharing {
margin-top: 4em;
}
