{% include global/head.html %}
<body class="{{page.category | replace: ' ','-' | downcase}}{{page.categories | first}}">
  <div class="wrapper">
    {% if site.include_nav-top %}
      {% include nav/nav-top.html %}      
    {% endif %}
    {% if site.include_nav-side-left %}
      {% include nav/nav-side-left.html %}
    {% endif %}
    <div class="{% if page.splash_image %}content_splash{% endif %}">
      <section class="content">
        {{content}}
      </section>
    {% if site.include_nav-side-right %}
      {% include nav/nav-side-right.html %}
    {% endif %}
  </div>
</div>
{% include global/scripts.html %}
</body>
</html>

