---
layout: default
---
{% include global/hero.html %}
<div id="content" class="center measure-wide f4 pv5 lh-copy ph2">
  {{ page.content | markdownify }}
</div>

<!--

section
  #header
  COPY
  Subsection | Subsection -->



<div class="cf mw8 center">
  <div class="fl pa3 w-50 lh-copy">
    <h2>JUMPSTART SESSIONS</h2>

    <h3>JumpStarts bring together:</h3>
    <ul>
      <li>Founders of 1 Featured Social Startup (non-profit, for-profit, benefit corp., hybrid)</li>
      <li>7 Expert Panelists</li>
      <li>1 Goldilox Problem</li>
    </ul>
  </div>


  <div class="fl pa3 w-50 lh-copy">
    <h2>GOLDILOX PROBLEM</h2>

    <p>Goldilox Problem = a focused Business/Change Model problem, neither too broad nor too narrow for a three-hour collaborative discussion.</p>

    <ul>
      <li>
        GP Question Frames: A Challenge to Overcome or An Opportunity to Seize: How do we solve or accomplish _______?”
      </li>
      <li>
        Choosing Between Alternatives: Should we pursue either Option A or Option B?
      </li>
    </ul>
  </div>

</div>
