{% assign input_classes = 'b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100'  %}

<form class="measure" accept-charset="UTF-8" action="" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">

    <legend class="f4 fw6 ph0 mh0">Sign In</legend>


    <div class="mv3">
      <label class="db fw6 lh-copy f6" for="password">Name</label>
      <input tabindex="6" type="text" name="name" id="name-field" class="{{input_classes}}" size="40" maxlength="35" />
    </div>

    <div class="mt3">
      <label class="db fw6 lh-copy f6" for="email-address">Email</label>
      <input class="{{ input_classes }}" type="email" name="email-address"  id="email-address">
    </div>


  </fieldset>

  <div class="">
    <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit">
  </div>

  <div class="lh-copy mt3">


  </div>
</form>





<style type="text/css">
  .LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
</style>
